/*This is the CSS file for Louis Page Portfolio */
*{
  box-sizing: border-box;
}
header{

  line-height:200%;
  margin-left: auto;
  margin-right: auto;
  background-image:url(photos/lxp1dark.png);
  height: 150px;
  padding-right: 20px;
  padding-top: 60px;
  background-position:  center ;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

body{
  background-color:#FFFFFF;
  font-family:Verdana, Arial, sans-serif;
  color:#666666;
  background-color: white;

}
main{
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 40px;

}

.container-fluid{
  padding-top: 20px;

}
h1{
  line-height:200%;
  margin-left: center;
  margin-right: center;
  height:150px;
  padding-left: 20px;
  padding-top: 60px;
  background-position: 0px , center;
  background-size: 100% ;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

h2{
  margin-left: auto;
  margin-right: 200px;
}

footer{
  text-align: center;

}

#benchyhero{
      background-image: url(photos/printer.jpg);
      height: 800px;
      background-size: contain;
      background-position: top, left;
      background-repeat: no-repeat;
  }
}
#abouthero{
  margin-left:170px;
  background-image:url(images/.jpg);

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#portfoliohero{
  margin-left:170px;
  background-image:url(photos/twowrench.jpg);
  height:300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#photohero{
  margin-left:170px;
  background-image:url(photos/.jpg);
  height:300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
nav ul{
 margin:auto;
}

.bg-info{
  background-color:#FC5C08!important;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
